<app-pagetitle title="Footer"></app-pagetitle>
<div class="row">
    <div class="card-body">
        <div class="mt-4">
            <!-- <h5 class="font-size-13 mb-2">Align Items Center</h5> -->
            <div class="bg-soft-light p-3 text-center">
                <div class="row align-items-center" style="min-height: 6rem;">
                    <div class="col-sm-3">
                        <div class="mt-2 mt-sm-0">
                            <code>col-sm-3</code>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="mt-2 mt-sm-0">
                            <code>col-sm-3</code>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="mt-2 mt-sm-0">
                            <code>col-sm-3</code>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="mt-2 mt-sm-0">
                            <code>col-sm-3</code>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card-body">
        <div class="mt-4">
            <!-- <h5 class="font-size-13 mb-2">Align Items Center</h5> -->
            <div class="bg-soft-light p-3 text-center">
                <div class="row align-items-center" style="min-height: 6rem;">
                    <div class="col-sm-4">
                        <h4 class="card-title">Upload Logo</h4>
                        <p style="color: red;">logo must be in 539*113 size</p>
                        <form>
                            <dropzone class="dropzone"></dropzone>
                        </form>
                    </div>
                    <div class="col-sm-4">
                        <div class="mt-2 mt-sm-0">
                            <code>col-sm-4</code>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>