<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-2">
                        <button type="button" class="btn btn-danger waves-effect waves-light" routerLink="/">
                            <i class="bx bx-block font-size-16 align-middle bx-left-arrow-alt"></i> Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-md-6" (click)="openNavbar()">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Navbar</span>
                    </div>
                    <div class="col-6 text-end ml-md-auto" *ngIf="isNavbarOpen">
                        <i class="fas fa-check"></i>
                    </div>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->

    <div class="col-xl-6 col-md-6" (click)="openFooter()">
        <!-- card -->

        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Footer</span>
                    </div>
                    <div class="col-6 text-end ml-md-auto" *ngIf="isFooterOpen">
                        <i class="fas fa-check"></i>
                    </div>
                </div>
                <!-- <div class="text-nowrap">
                    <span class="badge bg-soft-danger text-danger">-29 Trades</span>
                    <span class="ms-1 text-muted font-size-13">Since last week</span>
                </div> -->
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col-->


</div><!-- end row-->

<div class="row" *ngIf="isNavbarOpen">
    <div class="row">
        <div class="col-xl-8 col-md-8">
            <span class="text-muted mb-3 lh-1 d-block text-truncate">Preview</span>
            <img src="assets/images/preview.png" alt="" width="157%">
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body p-4">
                <div>
                    <!-- <h5 class="card-title mb-4">Validation Exampless</h5> -->
                    <form [formGroup]="validationForm">
                        <input type="hidden" />
                        <div class="row">

                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label>Email</label>
                                    <input type="email" formControlName="email"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control"
                                        id="useremail" placeholder="Enter email">
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label>Phonenumber</label>
                                    <input type=" number" formControlName="number"
                                        [ngClass]="{ 'is-invalid': submitted && f.number.errors }" class="form-control"
                                        id="phonenumber" placeholder="Enter number">
                                    <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
                                        <div *ngIf="f.number.errors.required">Phonenumber is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label>Name (Collage/School)</label>
                                    <input type="text" formControlName="name" class="form-control" id="name"
                                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                                        placeholder="Enter Name of (Collage/School)">
                                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">Name (Collage/School) is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label>Upload Logo</label>
                                    <p style="color: red;">logo must be in 579*111 size</p>
                                    <dropzone type="Upload" class="dropzone" [config]="config"
                                        [(ngModel)]="webNavModel.logo">
                                    </dropzone>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label>Color picker</label>
                                    <!-- <p style="color: red;">logo must be in 579*111 size</p> -->
                                    <input type="color" class="form-control form-control-color mw-100" id="color"
                                        name="color" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="webNavModel.color" title="Choose your color">
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                        <div class="card-footer">
                            <div class="row">
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-primary btn-round"
                                            (click)="saveWebNavbarDetails()">
                                            <i class="fa fa-paper-plane" aria-hidden="true"></i> Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-xl-12">

                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Navbar Datatable</h4>
                                    <!-- <p class="card-title-desc">Table cells in <code>&lt;tbody&gt;</code> inherit their
                                        alignment from <code>&lt;table&gt;</code> and are aligned to the the top by
                                        default. Use the vertical align classes to re-align where needed.</p> -->
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table align-middle mb-0">

                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Email</th>
                                                    <th>Phonenumber</th>
                                                    <th>Name (Collage/School)</th>
                                                    <th>Logo</th>
                                                    <th>Color Code</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of webNav;let i = index">
                                                    <th scope="row">{{i+1}}</th>
                                                    <td>{{item.email}}</td>
                                                    <td>{{item.contact}}</td>
                                                    <td>{{item.name}}</td>
                                                    <td>{{item.logo}}</td>
                                                    <td>{{item.color}}</td>
                                                    <!-- <td>
                                                        <button type="button" class="btn btn-light btn-sm">View</button>
                                                    </td> -->
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                        </div>
                        <!-- end col -->

                    </div>
                    <!-- end row -->
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="isFooterOpen">
    <div>
        <h5 class="card-title mb-4">Custom validations</h5>

        <form (ngSubmit)="saveWebFooterDetails()" [formGroup]="rangeValidationForm">
            <div class="row">
                <div class="col-xl-6 col-md-6">
                    <div class="form-group mb-3">
                        <label>Phone Number</label>
                        <input type="text" class="form-control" formControlName="phone"
                            [ngClass]="{'is-invalid': rangesubmit && range.phone.errors}" />
                        <div *ngIf="rangesubmit && range.phone.errors" class="invalid-feedback">
                            <span *ngIf="range.phone.errors.required">This Field is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="form-group mb-3">
                        <label>Email Address </label>
                        <input type="text" class="form-control" formControlName="email"
                            [ngClass]="{'is-invalid': rangesubmit && range.email.errors}" />
                        <div *ngIf="rangesubmit && range.email.errors" class="invalid-feedback">
                            <span *ngIf="range.email.errors.required">This Field is required.</span>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-md-6">
                    <div class="form-group mb-3">
                        <label>Useful Links</label>
                        <ng-select required [items]="selectValue" [multiple]="true" class="" formControlName="links"
                            [ngClass]="{'is-invalid': rangesubmit && range.links.errors}"></ng-select>
                        <div *ngIf="rangesubmit && range.links.errors" class="invalid-feedback">
                            <span *ngIf="range.links.errors.required">This Field is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="form-group mb-3">
                        <label>Address</label>
                        <textarea type="text" class="form-control" formControlName="address"
                            [ngClass]="{'is-invalid': rangesubmit && range.address.errors}"></textarea>
                        <div *ngIf="rangesubmit && range.address.errors" class="invalid-feedback">
                            <span *ngIf="range.address.errors.required">This Field is required.</span>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-md-6">
                    <div class="form-group mb-3">
                        <label>Upload Logo</label>
                        <p style="color: red;">logo must be in 579*111 size</p>
                        <dropzone type="Upload" class="dropzone" [config]="config" [(ngModel)]="webNavModel.logo"
                            [ngClass]="{'is-invalid': rangesubmit && range.logo.errors}">
                        </dropzone>
                        <div *ngIf="rangesubmit && range.logo.errors" class="invalid-feedback">
                            <span *ngIf="range.logo.errors.required">This Field is required.</span>
                            <span *ngIf="range.logo.errors.min">Minimum value for this Field is
                                100</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary btn-round"
                                (click)="saveWebFooterDetails()">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i> Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-xl-12">

                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Footer Datatable</h4>
                        <!-- <p class="card-title-desc">Table cells in <code>&lt;tbody&gt;</code> inherit their
                            alignment from <code>&lt;table&gt;</code> and are aligned to the the top by
                            default. Use the vertical align classes to re-align where needed.</p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table align-middle mb-0">

                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Address</th>
                                        <th>Links</th>
                                        <th>Logo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of webFoot;let i = index">
                                        <th scope="row">{{i+1}}</th>
                                        <td>{{item.phone}}</td>
                                        <td>{{item.email}}</td>
                                        <td>{{item.address}}</td>
                                        <td>{{item.links}}</td>
                                        <td>{{item.logo}}</td>
                                        <!-- <td>
                                            <button type="button" class="btn btn-light btn-sm">View</button>
                                        </td> -->
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end card body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->

        </div>
        <!-- end row -->
    </div>

</div>
