<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <!-- <div class="card-header">
                <h4 class="card-title">With Controls</h4>
                <p class="card-title-desc">Here's example with previous and next controls.</p>
            </div> -->
    
            <div class="card-body">
                <!-- Controls carousel -->
                <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
                    <ng-template ngbSlide>
                        <img src="assets/images/small/1.jpg" alt="first slide" class="d-block img-fluid">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="assets/images/small/1.jpg" alt="second slide" class="d-block img-fluid">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="assets/images/small/1.jpg" alt="third slide" class="d-block img-fluid">
                    </ng-template>
                </ngb-carousel>
                <!-- End controls carousel -->
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div><!-- end col -->
</div>

<div class="row">
    <div class="card-body">
        <div class="mt-4">
            <!-- <h5 class="font-size-13 mb-2">Align Items Center</h5> -->
            <div class="bg-soft-light p-3 text-center">
                <div class="row align-items-center" style="min-height: 6rem;">
                    <div class="col-sm-4">
                        <div class="grid-example">
                            <i class=" fas fa-eye"></i>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="grid-example mt-2 mt-sm-0">
                            <i class=" fas fa-bullseye"></i>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="grid-example mt-2 mt-sm-0">
                            <i class=" fas fa-crosshairs"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card-body">
        <div class="mt-4">
            <!-- <h5 class="font-size-13 mb-2">Align Items Center</h5> -->
            <div class="bg-soft-light p-3 text-center">
                <div class="row align-items-center" style="min-height: 6rem;">
                    <div class="col-sm-6">
                        <div>
                            <code>col-sm-6</code>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mt-2 mt-sm-0">
                            <code>col-sm-6</code>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card-body">
        <div class="mt-4">
            <!-- <h5 class="font-size-13 mb-2">Align Items Center</h5> -->
            <div class="bg-soft-light p-3 text-center">
                <div class="row align-items-center" style="min-height: 6rem;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <div class="mt-2 mt-sm-0" style="background-color: #f9efef;">
                            <code>col-sm-8</code>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row"  style="background-color: #f9efef;">
    <div class="card-body">
        <div class="mt-4">
            <!-- <h5 class="font-size-13 mb-2">Align Items Center</h5> -->
            <div class="bg-soft-light p-3 text-center">
                <div class="row align-items-center" style="min-height: 6rem;">
                    <div class="col-sm-8">
                        <div class="mt-2 mt-sm-0">
                            <code>col-sm-8</code>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mt-2 mt-sm-0">
                            <code>col-sm-4</code>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

