<app-pagetitle title="Navigation Bar" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-2">
                        <button type="button" class="btn btn-danger waves-effect waves-light" routerLink="/">
                            <i class="bx bx-block font-size-16 align-middle bx-left-arrow-alt"></i> Back
                        </button>
                    </div>
                    <div class="col-auto offset-md-8">
                        <button type="button" class="btn btn-primary waves-effect waves-light">
                            <i class="bx bx-plus font-size-16 align-middle me-2"></i> Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body p-4">

                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <form>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="formrow-email-input">Email</label>
                                            <input type="email" class="form-control" id="formrow-email-input">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="formrow-number-input">Phone Number</label>
                                            <input type="text" class="form-control" id="formrow-number-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <h4 class="card-title">Upload Logo</h4>
                                        <p style="color: red;">logo must be in 579*111 size</p>
                                        <form>
                                            <dropzone class="dropzone"></dropzone>
                                        </form>
                                        <!-- <div class="text-center mt-4">
                                            <button type="button" class="btn btn-primary waves-effect waves-light">Send
                                                Files</button>
                                        </div> -->
                                    </div>
                                    <div class="col-md-3">
                                        <div class="mb-3">
                                            <label class="form-label" for="formrow-firstname-input">Name
                                                (Collage/School)</label>
                                            <input type="text" class="form-control" id="formrow-firstname-input">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="mb-3">
                                            <label for="example-color-input" class="form-label">Color picker</label>
                                            <input type="color" class="form-control form-control-color mw-100"
                                                id="example-color-input" value="#5156be" title="Choose your color">
                                        </div>

                                    </div>
                                </div>

                                <div class="card-footer">
                                    <div class="row">
                                        <div class="row justify-content-end">
                                            <div class="col-auto">
                                                <button type="submit" class="btn btn-primary btn-round">
                                                    <i class="fa fa-paper-plane" aria-hidden="true"></i> Submit
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>